[Unit]
Description=Runs the LayerOSX cleanup once a week

[Timer]
OnBootSec=15min
OnUnitActiveSec=1week
Persistent=true

[Install]
WantedBy=timers.target
